/*@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #F5F6F8;
  
  font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --grey: #A4A4A4;
  --grey-light: #EBEBEB;
  --grey-dark: #6c7077;
  --white: white;
  --primary: #7351f5;
  --primary-hover: #6044cd;
  --red: #FC836D;
  --red-light: #efb6ac;
  --green: #007b48;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans', sans-serif;
}